# Python version
python==3.10

# Python libraries
numpy
scipy
matplotlib
pandas
seaborn
statsmodels
pandas-datareader
requests
tqdm
tabulate

# Deep Learning framework
torch>=2.0.0
tensorboard

# OpenAI Gym RL framework
gym
